# --------------------------
# Python 缓存文件
# --------------------------
__pycache__/        # Python 运行时生成的缓存目录
*.pyc               # 编译后的 Python 字节码
*.pyo               # 优化后的 Python 字节码
*.pyd               # Windows 上的 Python 动态库文件

# --------------------------
# 数据库文件
# --------------------------
#*.db                # SQLite 数据库文件
#*.sqlite3           # SQLite3 数据库文件

# --------------------------
# 虚拟环境 / Conda
# --------------------------
venv/               # Python 虚拟环境目录
env/                # 另一种常见虚拟环境命名
*.egg-info/         # Python 包安装生成的信息

# --------------------------
# 环境变量配置
# --------------------------
.env                # 存放敏感信息（秘钥、数据库账号、API Key 等），不要上传


# --------------------------
# Docker 文件
# --------------------------
Dockerfile          # Dockerfile 主文件，如果你不想上传
#docker-compose.yml  # docker-compose 配置文件

# --------------------------
# 日志文件
# --------------------------
*.log               # 日志文件，通常不上传

# --------------------------
# 临时文件
# --------------------------
*.swp               # vim 临时文件
*~                  # 临时备份文件
.DS_Store           # macOS 系统生成的隐藏文件
Thumbs.db           # Windows 系统生成的隐藏文件

config.yaml

